{{ define "fullwidth" }}
<main id="main" class="site-fullwidth" role="main">
    {{- partial "index-fullwidth.html" . -}}
</main>
{{ end }}

{{ define "main" }}
<div class="site-main">
    <span class="sticky-post">{{ i18n "new_heading" }}</span>

{{ with (.Site.GetPage "posts")  }}
    {{- $paginator := .Paginate .Pages.ByLastmod.Reverse -}}
    {{- range  $paginator.Pages -}}
        {{- partial "article-full.html" . -}}
    {{- end -}}
    {{- partial "pagination.html" . -}}
{{ end }}
</div>
{{ end }}
