{{- define "main" -}}
<main id="main" class="site-main" role="main">
<article class="{{ .Type }} type-{{ .Type }} format-standard hentry {{ if .Params.sticky }}type-page{{ end }}">
    <header class="entry-header">
        <h1 class="entry-title" title="{{.Kind}}">
            {{ .Title | markdownify }}
        </h1>
    </header><!-- .entry-header -->

    {{- $featured_image := .Params.featured_image }}
    {{- if not $featured_image }}
      {{- range first 1 .Params.images }}
        {{- $featured_image = . }}
      {{- end }}
    {{- end }}

    {{ if $featured_image }}
    <div class="post-thumbnail">
        <img src="{{ $featured_image }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="{{ .Title }}" />
    </div>
    {{ end }}

    {{ if and (.Params.language) (ne .Params.language $.Site.Language.Lang) }}
    <p>
        <small><em>Sorry, this entry is only available in German. For the sake of viewer convenience, the content is shown below in the alternative language. You may use the link in the Sidebar to switch the active language.</em></small>
    </p>
    {{ end }}

    <div class="entry-content">
        {{ .Content }}
    </div><!-- .entry-content -->

    {{ if not .Params.sticky }}
    <footer class="entry-footer">
        {{- if eq .Type "post" -}}
        {{ partial "meta-byline.html" . }}
        {{ partial "meta-date.html" . }}
        {{ partial "meta-terms.html" . }}
        {{- end -}}
    </footer><!-- .entry-footer -->
    {{ end }}
</article>

{{- if eq .Section "posts" -}}
{{- if not .Params.sticky -}}
<nav class="navigation post-navigation" role="navigation" aria-label="Beiträge">
    <h2 class="screen-reader-text">Beitrags-Navigation</h2>
    <div class="nav-links">
        {{- with .PrevInSection -}}
        <div class="nav-previous"><a href="{{ .Permalink }}" rel="prev"><span class="meta-nav" aria-hidden="true">{{ i18n "previous" }}</span> <span class="screen-reader-text">{{ i18n "previous_post" }}:</span> <span class="post-title">{{ .Title }}</span></a></div>
        {{- end -}}
        {{- with .NextInSection -}}
        <div class="nav-next"><a href="{{ .Permalink }}" rel="next"><span class="meta-nav" aria-hidden="true">{{ i18n "next" }}</span> <span class="screen-reader-text">{{ i18n "next_post" }}:</span> <span class="post-title">{{ .Title }}</span></a></div>
        {{- end -}}
    </div>
</nav>
{{- end -}}
{{- end -}}
</main>
{{- end -}}
