<article class="post type-post format-standard hentry {{ if .Params.sticky }}type-page{{ end }}">
    <header class="entry-header">
        {{ if .Params.sticky }}
        <span class="sticky-post">{{ i18n "sticky" }}</span>
        {{ end }}
        <h2 class="entry-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Title | default .RelPermalink }}</a></h2>
    </header>
    <!-- .entry-header -->

    {{- $featured_image := .Params.featured_image }}
    {{- if and (not $featured_image) .Params.images }}
      {{- range first 1 .Params.images }}
        {{- $featured_image = . }}
      {{- end }}
    {{- end }}

    {{ if $featured_image }}
    <a class="post-thumbnail" href="{{ .Permalink }}" aria-hidden="true">
        <img src="{{ $featured_image }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="{{ .Title }}" />
    </a>
    {{ end }}

    {{ if and (.Params.language) (ne .Params.language $.Site.Language.Lang) }}
    <p>
        <small><em>Sorry, this entry is only available in German. For the sake of viewer convenience, the content is shown below in the alternative language. You may use the link in the Sidebar to switch the active language.</em></small>
    </p>
    {{ end }}

    <div class="entry-content">
        {{ .Summary }}

        {{ if .Truncated }}
        <p>
            <a href="{{ .RelPermalink }}" class="more-link btn">{{ i18n "continue_reading" }}<span class="screen-reader-text"> {{ .Title }}</span></a>
        </p>
        {{ end }}
    </div>
    <!-- .entry-content -->

    {{ if not .Params.sticky }}
    <footer class="entry-footer">
        {{ partial "meta-byline.html" . }}
        {{ if not .Params.sticky }}
        {{ partial "meta-date.html" . }}
        {{ end }}
        {{ partial "meta-terms.html" . }}
    </footer>
    <!-- .entry-footer -->
    {{ end }}
</article>
