<aside id="secondary" class="sidebar widget-area" role="complementary">
    {{ partial "site-sidebar-top.html" . }}

    {{/* language */}}
    <section class="widget qtranxs_widget">
        <h2 class="widget-title">{{ i18n "language" }}</h2>
        <ul class="language-chooser language-chooser-both">
            {{- if .IsTranslated -}}
            {{- range .AllTranslations -}}
            <li><a href="{{ .Permalink }}" title="{{ .Language.LanguageName }} ({{ .Language.Lang }})"><span>{{ .Language.LanguageName }}</span></a></li>
            {{ end }}
            {{- else -}}
            {{- range $.Site.Home.AllTranslations -}}
            <li><a href="{{ .Permalink }}" title="{{ .Language.LanguageName }} ({{ .Language.Lang }})"><span>{{ .Language.LanguageName }}</span></a></li>
            {{- end -}}
            {{- end -}}
        </ul>
    </section>

    {{/* newest posts */}}
    {{ with (.Site.GetPage "section" "posts").Pages.ByLastmod.Reverse | first 5  }}
    <section id="recent-posts-2" class="widget widget_recent_entries">
        <h2 class="widget-title">{{ i18n "recent_posts" }}</h2>
        <ul>
            {{ range . }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </section>
    {{ end }}

    {{/* tags */}}
    <section id="tag_cloud-2" class="widget widget_tag_cloud">
        <h2 class="widget-title">Tags</h2>
        <div class="tagcloud">
            <ul class="wp-tag-cloud" role="list">
            {{ range .Site.Taxonomies.tags }}
            {{ if gt .Count 1 }}
                <li><a href="{{ .Page.Permalink }}" class="tag-cloud-link">{{ .Page.Title }}</a></li>
            {{ end }}
            {{ end }}
            </ul>
        </div>
    </section>
</aside>
