{{ range first 1 (where .Site.Pages ".Params.sticky" true) }}
  <section class="fullwidth">
    <div class="fullwidth-bg">
      {{- $featured_image := .Params.featured_image }}
      {{- if and (not $featured_image) .Params.images }}
        {{- range first 1 .Params.images }}
          {{- $featured_image = . }}
        {{- end }}
      {{- end }}
      <img src="{{ $featured_image }}" />
    </div>
    <div class="fullwidth-content">
      <div class="floating-teaser">
        <h2 class="entry-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Title | default .RelPermalink }}</a></h2>

        <p>{{ i18n "vsh_teaser" }}</p>

        <a href="{{ .RelPermalink }}" class="more-link btn">{{ i18n "learn_more" }}</a>
      </div>

      <section class="floating-space-state">
        {{ partial "widget-space-state.html" . }}
      </section>
    </div>
  </section>

  <!--
  <section class="full-alert">
    <div class="site-inner">
       <strong>🎉 Besuche uns bei der <a href="https://www.kulturnacht-ulm.de/web/kulturnacht/besucher/programm/programmdetail.php?id=2084" target="_blank" rel="noopener noreferrer">Kulturnacht</a> am 16.09., zur Eröffnung unseres neuen Hauses 🎉</strong><br>
       Weitere Infos <a href="/kulturnacht-2023/">hier nachlesen</a>.</strong>
    </div>
  </section>
  -->
{{ end }}
