{{ range first 1 (where .Site.Pages ".Params.sticky" true) }}
  <section class="fullwidth">
    <div class="fullwidth-bg">
      <img src="{{ .Params.featured_image }}" />
    </div>
    <div class="fullwidth-content">
      <div class="floating-teaser">
        <h2 class="entry-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Title | default .RelPermalink }}</a></h2>

        <p>{{ i18n "vsh_teaser" }}</p>

        <a href="{{ .RelPermalink }}" class="more-link btn">{{ i18n "learn_more" }}</a>
      </div>

      <section class="floating-space-state">
        {{ partial "widget-space-state.html" . }}
      </section>
    </div>
  </section>

  <section class="full-alert">
    <div class="site-inner">
       <strong>Das Verschwörhaus muss umziehen. Warum und wie du uns unterstützen kannst: <a href="/das-verschwoerhaus-zieht-um/">hier nachlesen</a>.</strong>
    </div>
  </section>
{{ end }}