ErrorDocument 404 /404.html

Redirect 302 /live https://www.youtube.com/channel/UChI22atUFzyO-E40Ks3Wrlg/live
#Redirect 302 /live https://streaming.media.ccc.de/vsh

Redirect 302 /feed/spaceapi https://spaceapi.temporaerhaus.de/spaceapi/
Redirect 302 /feed/ /posts/index.xml

Redirect 302 /wp-admin/ /admin/
Redirect 302 /wp-login.php /admin/

Redirect 302 /impressum/presse-logos-und-bilder/ /presse-logos-und-bilder/
Redirect 302 /en/impressum/presse-logos-und-bilder/ /en/presse-logos-und-bilder/
Redirect 302 /jugend-hackt-lab-termine/ /category/jugend-hackt-lab/
Redirect 302 /en/jugend-hackt-lab/ /en/category/jugend-hackt-lab/

Redirect 302 /en/tour/ /tour/

Redirect 302 /en/contact/ /en/kontakt/
Redirect 302 /en/geschichte/ /en/history/
Redirect 302 /en/spenden/ /en/donate/

Redirect 302 /en/groups/bewerbungscafe /gruppen/bewerbungscafe
Redirect 302 /en/groups/ctf /gruppen/ctf
Redirect 302 /en/groups/fuck /gruppen/fuck
Redirect 302 /en/groups/jugend-hackt /gruppen/jugend-hackt
Redirect 302 /en/groups/maker-monday /gruppen/maker-monday
Redirect 302 /en/groups/openstreetmap /gruppen/openstreetmap
Redirect 302 /en/groups/sewingcafe /gruppen/sewingcafe
Redirect 302 /en/groups/ubuntu /gruppen/ubuntu
Redirect 302 /en/groups/wikidata /gruppen/wikidata
Redirect 302 /en/make/ /make/

Redirect 301 /das-verschwoerhaus/ /das-haus/
Redirect 301 /en/das-verschwoerhaus/ /en/das-haus/

Redirect 410 /xmlrpc.php
Redirect 410 /comments/feed/

